-e git+https://github.com/jaegertracing/jaeger-client-python.git#egg=jaeger_client
connexion==2.0.0
Flask-Injector==0.10.1
Flask-OpenTracing==0.2.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.13
python-json-logger==0.1.8
requests==2.18.4
